/* Tailwind + DaisyUI setup */
@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark, corporate;
}

/* Default body font = Roboto */
body {
  font-family: "Roboto", sans-serif;
}

/* Headings & Logo = Oswald */
h1,
h2,
h3,
h4,
h5,
h6,
.logo {
  font-family: "Oswald", sans-serif;
}
